
  
      
.fieldset {
  
  font-size:30px;
  font-display:1 ;
  padding:30px;
  width:250px;
  line-height:1.8;
  color:#181818; background-color:#dbe0e0;
  font-family:arial, verdana, sans-serif; font-size:13pt;
}

/*label:hover {cursor:hand;}*/
   